[submodule "Packager"]
	path = vendor/Packager
	url = git://github.com/kamicane/packager.git
[submodule "Core"]
	path = vendor/Core
	url = git://github.com/mootools/mootools-core.git
[submodule "More"]
	path = vendor/More
	url = git://github.com/mootools/mootools-core.git
[submodule "Behavior"]
	path = vendor/Behavior
	url = git://github.com/anutron/behavior.git
