<div id="frame2" data-frameflow-frame="{
  'activeState': {
    '#frame2': {
      'classes': [
        'active'
      ],
    },
    '.header-bar': {
      'classes': [
        'first-class',
        'second-class'
      ]
    }
  },
  'exitState': {
    '#frame2 ! .frame-container': {
      'classes': [
        'move-off-screen-to-left'
      ]
    }
  }
}">

</div>
