<div class="frame3" data-frameflow-frame="{
  'activeState': {
    '#frame1 ! .frame-container': {
      'classes': [
        'disappear'
      ],
    }
  },
  'exitState': {
    '.frame3': {
      'classes': [
        'move-3-to-the-bottom'
      ]
    }
  }
}">

</div>
