<div id="frame1" data-frameflow-frame="{
  'activeState': {
    '#frame1': {
      'classes': [
        'active'
      ],
    },
    '.header-bar': {
      'classes': [
        'bottom-to-top'
      ]
    }
  },
  'exitState': {
    '#frame1': {
      'classes': [
        'scroll-up'
      ]
    },
    '#frame2': {
      'classes': [
        'scroll-up'
      ]
    }
  }
}">

</div>
