@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('fonts/glyphicons-halflings-regular.eot');
  src: asset-url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('fonts/glyphicons-halflings-regular.woff') format('woff'),
       asset-url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       asset-url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
