<div class="bs-docs-section">
  <div class="page-header">
    <h1>Chart With inline Data</h1>
  </div>

  <div class="bs-callout bs-callout-info">
    <h4>Less Component Required</h4>
    <p>
       Be sure to include Behavior-UI's <code>chart.less</code> in your build.
    </p>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h4>JavaScript Library Required</h4>
    <p>
       In addition to the chart files in Behavior-UI, you will also need the <a href="https://github.com/Behavior-UI/highstock-release">behavior-ui fork of HighStock</a>. Presently, only <code>highstock.src</code> is patched; that's all you need.
    </p>
  </div>

  <h3>Basic Usage</h3>

  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart ToSource" class="full-width chart" data-chart-options="
  'seriesType':'column',
  'xAxis': {
    'type': 'linear',
    'minRange': 1,
    'title': {
      'text': 'Columns'
    }
  },
  'yAxis':{
    'title':{
      'text':'Things'
    }
  },
  'data': {
    'title':{
      'text':'Some Sort of Measurement'
    },
    'series':[
      {
        'name':'Things',
        'data':[1176,931,685,404,241]
      }
    ],
    'xAxis':{
      'categories':['0-20%','20-40%','40-60%','60-80%','80+%']
    }
  }
  " data-tosource-target="!.example-block .response"></div>
  <% end %>

</div>
