<div class="bs-docs-section">
  <div class="page-header">
    <h1>Charts With Popups</h1>
  </div>

  <p>It's possible to configure a chart to show a popup (one with the <code>BS.Popup</code> Behavior) when a point is clicked
    on the graph. This allows you to, for example, prompt the user for information about that specific date. Just specify
    a value for <code>showPopup</code> in the chart options that is a selector that references the hidden popup.</p>
  <p>It's also possible for any date input in that popup to be filled in with the date of the point the user clicks. For this
    you must specify a value for <code>mapDateToInput</code> (an object) with a property called <code>target</code> that specifies
    the name of the input the date should be inserted into. You can optionally specify <code>mapDateToInput.format</code> to
    specify a date format.</p>

  <h3>Example</h3>
  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'seriesType':'areaspline',
  'url': '/sandbox/chart/three_lines',
  'showPopup': '!body #example-popup',
  'mapDateToInput': {
    'target': 'date'
  },
" data-tosource-target="!.example-block .response"></div>

<div data-behavior="BS.Popup" id="example-popup" class="modal fade hide" data-bs-popup-options="
  'moveElementTo':'!body',
  'focusOnShow': ''
">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4 class="modal-title" id="myModalLabel">Some popup...</h4>
      </div>
      <div class="modal-body">
        <p>This is just an example popup. Here's a date input with the date of the point you clicked:</p>
        <input type="text" class="form-control" name="date"
          data-behavior="DatePicker"
          data-datepicker-options="
            'format':'%m/%d/%Y'
          " value="<%= "#{Time.current.strftime('%m/%d/%Y')}"%>"
        >
      </div>
      <div class="modal-footer">
        <a class="btn btn-default dismiss" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

  <% end %>
</div>

