<div class="bs-docs-section">
  <div class="page-header">
    <h1>Chart <small>Behavior.Chart.js</small></h1>
  </div>

  <p>Creats an instance of <a href="http://highcharts.com">HighChart</a> with a Behavior-UI customized configuration.</p>


  <div class="bs-callout bs-callout-info">
    <h4>Less Component Required</h4>
    <p>
       Be sure to include Behavior-UI's <code>chart.less</code> in your build.
    </p>
  </div>

  <div class="bs-callout bs-callout-danger">
    <h4>JavaScript Library Required</h4>
    <p>
       In addition to the chart files in Behavior-UI, you will also need the <a href="https://github.com/Behavior-UI/highstock-release">behavior-ui fork of HighStock</a>. Presently, only <code>highstock.src</code> is patched; that's all you need.
    </p>
  </div>

  <h3>Basic Usage</h3>
  <p>JavaScript only does half the work of rendering these charts. The Behavior is fairly easy to use in its most
    basic configuration. You only really have to pass in a <code>url</code> option or the data itself. Here's what that looks like:</p>

  <%= render layout: "codeblock", locals: { include_response: true} do %>
<div data-behavior="Chart ToSource" class="chart" data-chart-options="
  'plotLineWidth': 100,
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
  <% end %>

  <h3>Chart.Stock</h3>
  <p>This same configuration can be given a series selector by switching behaviors to <code>Chart.Stock</code>:</p>

  <%= render layout: "codeblock", locals: { include_response: true}  do %>
<div data-behavior="Chart.Stock ToSource" class="chart" data-chart-stock-options="
  'url': '/sandbox/chart/three_lines'
" data-tosource-target="!.example-block .response"></div>
  <% end %>
</div>
