<div class="bs-docs-section">
  <div class="page-header">
    <h1>ShowAccordionSection <small>Delegator.showAccordionSection.js</small></h1>
  </div>

  <p>
    Allows you to force an instance of `Fx.Accordion` created by the `Accordion` behavior
    to show a specific section.
  </p>

  <h3>Basic Usage</h3>
</div>

    <%= render layout: "codeblock" do %>
<div class="panel-group" id="accordion" data-behavior="Accordion" data-accordion-options="
  'headers': 'a.accordion-toggle',
  'sections': '.panel-collapse'
">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse">
      <div class="panel-body">
        <a trigger="showAccordionSection" data-showaccordionsection-target="!.panel-group #collapseTwo">Show the next section</a>

        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
    <% end %>


  <h2>Delegator Options</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
       <tr>
         <th style="width: 100px;">Name</th>
         <th style="width: 50px;">type</th>
         <th style="width: 50px;">default</th>
         <th>description</th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td>target</td>
          <td>string</td>
          <td>~</td>
          <td>The target <em>section</em> to show. This selector, relative to the element with this trigger, should return an element that is a section of the accordion.</td>
        </tr>
        <tr>
          <td>accordionSelector</td>
          <td>string</td>
          <td>'![data-behavior*=Accordion]'</td>
          <td>Selector to find the <code>Accordion</code> instance, relative to the element with this trigger.
            Default assumes the trigger element is inside the Accordion.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
