<div class="bs-docs-section">
  <div class="page-header">
    <h1>FxAccordion <small>Behavior.FxAccordion.js</small></h1>
  </div>

  <p>See: <%= link_to "Collapse", sandbox_dir_file_path(section: 'JavaScript', dir: "Accordions, Carousels, and Tabs", file: "Collapse") %></p>
</div>
