// thanx-palette.less is required in addition to this file

// v2 palette
@grey-10:        #F3F4F4;
@grey-20:        #E9E9EA;
@grey-30:        #DEDFE0;
@grey-40:        #CFD1D2;
@grey-50:        #BCBEC0;
@grey-60:        #9FA1A4;
@grey-70:        #808285;
@grey-80:        #67686B;
@grey-90:        #4D4D4F;
@grey-100:       #363436;

@gold-10:        #F5F3DF;
@gold-20:        #EAE3B9;
@gold-30:        #E0D294;
@gold-40:        #D6C371;
@gold-50:        #CBB54E;
@gold:           @gold-50;
@gold-60:        #BB9B07;
@gold-70:        #8C7405;
@gold-80:        #5E4E04;
@gold-90:        #2F2702;

@blue-chrome-10: #D6DADF;
@blue-chrome-20: #AEB6BF;
@blue-chrome-30: #8692A0;
@blue-chrome-40: #5D6E7F;
@blue-chrome-50: #35495E;
@blue-chrome:    @blue-chrome-50;
@blue-chrome-60: #2A3C4F;
@blue-chrome-70: #1E2E3F;
@blue-chrome-80: #0E1E2E;
@blue-chrome-90: #000317;

@spearmint-10:   #D1ECF0;
@spearmint-20:   #A5DCDF;
@spearmint-30:   #7ACDD0;
@spearmint-40:   #51C3C5;
@spearmint-50:   #13C1BF;
@spearmint-60:   #229D9D;
@spearmint-70:   #138080;
@spearmint-80:   #006262;
@spearmint-90:   #004242;

@cayenne-10:     #FBDFD6;
@cayenne-20:     #F8C0AE;
@cayenne-30:     #F6A085;
@cayenne-40:     #F4825C;
@cayenne-50:     #F26335;
@cayenne-60:     #C5522C;
@cayenne-70:     #9E401E;
@cayenne-80:     #7A2D0B;
@cayenne-90:     #531600;

@palette-addons: ~'grey-10', ~'grey-20', ~'grey-30', ~'grey-40', ~'grey-50', ~'grey-60', ~'grey-70', ~'grey-80', ~'grey-90', ~'grey-100', ~'gold-10', ~'gold-20', ~'gold-30', ~'gold-40', ~'gold-50', ~'gold-60', ~'gold-70', ~'gold-80', ~'gold-90', ~'blue-chrome-10', ~'blue-chrome-20', ~'blue-chrome-30', ~'blue-chrome-40', ~'blue-chrome-50', ~'blue-chrome-60', ~'blue-chrome-70', ~'blue-chrome-80', ~'blue-chrome-90', ~'spearmint-10', ~'spearmint-20', ~'spearmint-30', ~'spearmint-40', ~'spearmint-50', ~'spearmint-60', ~'spearmint-70', ~'spearmint-80', ~'spearmint-90', ~'cayenne-10', ~'cayenne-20', ~'cayenne-30', ~'cayenne-40', ~'cayenne-50', ~'cayenne-60', ~'cayenne-70', ~'cayenne-80', ~'cayenne-90'
.for(@palette-addons); .-each(@value) {
  .palette-constructor(@value);
}

